[submodule "ITK"]
	path = ITK
	url = https://github.com/InsightSoftwareConsortium/ITK.git
[submodule "VTK"]
	path = VTK
	url = https://github.com/Kitware/VTK.git
[submodule "CharLS"]
	path = CharLS
	url = https://github.com/team-charls/charls.git
[submodule "GDCM"]
	path = GDCM
	url = https://github.com/malaterre/GDCM.git
[submodule "OpenJPEG"]
	path = OpenJPEG
	url = https://github.com/uclouvain/openjpeg.git
[submodule "OpenSSL"]
	path = OpenSSL
	url = https://github.com/openssl/openssl.git
#[submodule "DCMTK"]
#	path = DCMTK
#	url = http://git.dcmtk.org/dcmtk
