OsiriX_Lion.xcodeproj/xcuserdata/
OsiriX_Lion.xcodeproj/project.xcworkspace/xcuserdata/
*.DS_Store
__MACOSX/
Binaries/__MACOSX/
build/
VTKHeaders/
ITK180/
AYDicomPrint/
Binaries/VTKLibs/
Binaries/weasis/
Binaries/DCMTK/
Binaries/dciodvfy
Binaries/libPapyrusToolkit.a
Binaries/Ming/
Binaries/PAGES/
Binaries/DB_Previous_Models/
Binaries/OsiriX Report.template
Binaries/3DconnexionClient.framework/
Binaries/Growl.framework/
Binaries/ILCrashReporter.framework/
Binaries/KDU SDK/libkdu_v72R.a
Binaries/LibTiff/
Binaries/openjpeg/
Binaries/._OsiriX Report.template
