.DS_Store
.Trashes
*.swp
*.lock
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*.moved-aside
*.xcsettings
__MACOSX

DICOMPrint/xercesc
DICOMPrint/libxerces-c.27.dylib
DICOMPrint/libdcmprintscu.dylib

Binaries/3DconnexionClient.framework/
Binaries/DB_Previous_Models/
Binaries/DCMTK/
Binaries/dciodvfy
Binaries/Growl.framework/
Binaries/ILCrashReporter.framework/
Binaries/libPapyrusToolkit.a
Binaries/Ming/
Binaries/OsiriX Report.template
Binaries/PAGES/
Binaries/ReportsToPDF/odt2pdf/build/odt2pdf
Binaries/weasis/
Binaries/._OsiriX Report.template
Binaries/FeedbackReporter.framework/
Binaries/homephone.framework/
Binaries/EmbeddedPlugins/HorosCloud.horosplugin

*.xcscmblueprint
