<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rules</key>
	<dict>
		<key>.*</key>
		<true/>
		<key>^Resources/.*\.lproj/</key>
		<dict>
			<key>optional</key>
			<true/>
			<key>weight</key>
			<real>1000</real>
		</dict>
		<key>^Resources/.*\.lproj/locversion.plist$</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<real>1100</real>
		</dict>
		<key>^PlugIns/</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<integer>1200</integer>
		</dict>
		<key>^Plugins/</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<integer>1200</integer>
		</dict>
		<key>^Plugins Disabled/</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<integer>1200</integer>
		</dict>
		<key>^PlugIns Disabled/</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<integer>1200</integer>
		</dict>
		<key>^Resources Disabled/</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<integer>1200</integer>
		</dict>
	</dict>
</dict>
</plist>
