html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
	padding: 0;
	font-family: Helvetica;
	font-size: 11pt;
	background: #ffffff;
	color: #000000;
}

body > * {
	padding: 0 15px 0 15px;
}

#header {
	padding-top: 15px;
	padding-bottom: 3px;
	margin-bottom: 1px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: thin solid #555555;
}

#header * {
	font-size: 10pt;
	font-weight: normal;
}

#subheader {
	margin: 0px 0 0 0;
	padding: 0 0 0 2px;
	line-height: 85%;
	font-size: 11pt;
}

#content {
	margin: 25px 0 25px 0;
	padding: 0 15px 0px 15px;
}

#footer {
	border-top: thin solid #555555;
	padding-top: 3px;
	margin: 1px 0 10px 0;
	text-align: center;
	font-size: 10pt;
}

h1 {
	border-bottom: #555555 solid thin;
	font-size: 16pt;
}

h2 {
	color: #333333;
	font-size: 14pt;
}

h3 {
	color: #333333;
	font-size: 12pt;
}

ul {
	list-style-type: none;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

img {
	border: 0;
}

li a:hover {
	text-decoration:none;
}

table {
	border-collapse: collapse;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.top {
	vertical-align: top;
}

.center {
	text-align: center;
}

.middle {
	vertical-align: middle;
}

.right {
	text-align: right;
}
	
.compressed {
	line-height: 95%;
}

.wide {
	width: 100%;
}

.maxwide {
	max-width: 100%;
}

.gray {
	color: #555555;
}

.form td {
	vertical-align: baseline;
}

.form > tbody > tr > td[colspan=2] {
	text-align: left;
	white-space: normal;
	padding-right: 0;
}

.form > tbody > tr > td:first-child {
	text-align: right;
	padding-right: 3px;
	color: #555555;
	white-space: nowrap;
}

form {
	padding: 0;
	margin: 0;
}

.basic td:first-child, .narrow {
	width: 2%;
}

.eq td, .eq td:first-child {
	width: 50%;
}

.form {
	font-size: 10pt;
}

.form textarea {
	vertical-align: 0%;
}

.basic textarea, .basic input[type=text], .basic input[type=password], .basic select[multiple=multiple] {
	padding: 2px 0 2px 0;
	border: 0;
	background-color: #f7f7f7;
	font: 10pt Courier, "Courier New", monospace;
}

.wide textarea, .wide input[type=text], .wide input[type=password], .wide select[multiple=multiple] {
	width: 100%;
}

.separated {
    margin-top: 10px;
}

.fat {
	padding: 10px;
}

table.fat td {
	padding-top: 10px;
	padding-bottom: 10px;
}

table.fat td:first-child {
	padding-left: 10px;
}

table.fat td:last-child {
	padding-right: 10px;
}

.indent {
	margin-left: 20px;
}

.smaller {
	font-size: 90%;
}

.bigger {
	font-size: 110%;
}

.italic {
	font-style: italic;
}

.block {
	display: block;
}

a.back:before {
	content: url(images/chevron_left.png);
	vertical-align: -40%;
	margin-right: 3px;
	padding: 0;
}

a.foreward:after {
	content: url(images/chevron_right.png);
	vertical-align: -40%;
	margin-right: 3px;
	padding: 0;
}


/* Content */

#content > div {
	margin: 10px 0 20px 0;
	padding: 0 0 20px 0;
	border-bottom: thin solid #cccccc;
}

#content > div:last-child {
	border-bottom:none;
	padding: 0;
}

#content > div > div {
	margin: 2px 0 2px 20px;
}

#content > div > div.noleftmargin {
	margin: 2px 0 2px 0;
}

#content > div > .title {
	margin: 10px 0 10px 0;
	font-size: 13pt;
	font-weight: bold;
}

#content ul, #content li {
	margin: 0;
	padding: 0;
}

.li0 {
	background-color: #f7f7f7;
}

.li1 {
	background-color: #ffffff;
}

.loading {
	background-image:url(/images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.error {
	color: red;
}

/* Auth */

#userbox {
	margin: 0;
	padding: 0;
	position: relative;
	top: -4px;
	float: right;
	font-family: "Lucida Grande", Helvetica;
	font-size: 11px;
}

#userbox * {
	display: inline;
}

#userbox .text {
	margin: 0 7px 0 0;
	padding-right: 7px;
	border-right: 1px solid #dddddd;
}

#userbox a {
	color: #005500;
}

/* Toolbar */

#top {
	width:100%;
	margin: 3px 0 3px 0;
}

#top h1 {
	margin: 5px 0 2px 0;
	padding: 0 15px 0px 15px;
}

#top a.back {
	background: url(images/chevron_left.png) no-repeat left center;
	padding-left: 15px;
	margin-left: 1px;
}

.CurrentSortKey {
	text-decoration: underline;
}

/* Browse, decorations for main page */

.timeFrameStudyList {
	background:url(images/clock.png) no-repeat left center;
	padding-left:22px;
}

.peopleStudyList {
	background:url(images/users.png) no-repeat left center;
	padding-left:22px;
}

.Album {
	background:url(images/album.png) no-repeat left center;
	padding-left:22px;
}

.SmartAlbum {
	background:url(images/smartAlbum.png) no-repeat left center;
	padding-left:22px;
}

/* Link images */

.DownloadAsZIP, .OpenInWeasis {
	width: 36px;
	height: 36px;
	padding: 3px 0 0 0
}

/* overlay (key images) */

div#overlay {
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	padding: 10px;
	background-image: url(images/w.50.png);
}

div#overlay > div {
	display: table;
	position: static;
	width: 100%;
	height: 100%;
}

div#overlay > div > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

.disabled[onclick] {
	cursor: default;
}

div#overlay img {
	background-image: url(images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
	min-width: 50px;
	min-height: 50px;
}
