<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>LowerLeft</key>
		<array>
			<dict>
				<key>content</key>
				<array>
					<string>Special_Zoom</string>
					<string>Special_Rotation Angle</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>Zoom</string>
						<key>type</key>
						<string>Special</string>
					</dict>
					<dict>
						<key>field</key>
						<string>Rotation Angle</string>
						<key>type</key>
						<string>Special</string>
					</dict>
				</array>
				<key>title</key>
				<string>Zoom &amp; Angle</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<string>Special_Image Position</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>Image Position</string>
						<key>type</key>
						<string>Special</string>
					</dict>
				</array>
				<key>title</key>
				<string>Image Position</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<string>DICOM_TransferSyntaxUID</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>element</key>
						<integer>16</integer>
						<key>group</key>
						<integer>2</integer>
						<key>name</key>
						<string>TransferSyntaxUID</string>
						<key>tokenTitle</key>
						<string>DICOM_TransferSyntaxUID</string>
						<key>type</key>
						<string>DICOM</string>
					</dict>
				</array>
				<key>title</key>
				<string>Compression</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<string>Special_Thickness / Location / Position</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>Thickness / Location / Position</string>
						<key>type</key>
						<string>Special</string>
					</dict>
				</array>
				<key>title</key>
				<string>Thickness &amp; Location</string>
			</dict>
		</array>
		<key>LowerMiddle</key>
		<array>
			<dict>
				<key>content</key>
				<array>
					<string>Special_Orientation</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>Orientation</string>
						<key>type</key>
						<string>Special</string>
					</dict>
				</array>
				<key>title</key>
				<string>Orientation</string>
			</dict>
		</array>
		<key>LowerRight</key>
		<array>
			<dict>
				<key>content</key>
				<array>
					<string>TE:</string>
					<string>DICOM_EchoTime</string>
					<string>TR:</string>
					<string>DICOM_RepetitionTime</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>TE:</string>
						<key>type</key>
						<string>Manual</string>
					</dict>
					<dict>
						<key>element</key>
						<integer>129</integer>
						<key>group</key>
						<integer>24</integer>
						<key>name</key>
						<string>EchoTime</string>
						<key>tokenTitle</key>
						<string>DICOM_EchoTime</string>
						<key>type</key>
						<string>DICOM</string>
					</dict>
					<dict>
						<key>field</key>
						<string>TR:</string>
						<key>type</key>
						<string>Manual</string>
					</dict>
					<dict>
						<key>element</key>
						<integer>128</integer>
						<key>group</key>
						<integer>24</integer>
						<key>name</key>
						<string>RepetitionTime</string>
						<key>tokenTitle</key>
						<string>DICOM_RepetitionTime</string>
						<key>type</key>
						<string>DICOM</string>
					</dict>
				</array>
				<key>title</key>
				<string>MRI</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<string>FS:</string>
					<string>DICOM_MagneticFieldStrength</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>FS:</string>
						<key>type</key>
						<string>Manual</string>
					</dict>
					<dict>
						<key>element</key>
						<integer>135</integer>
						<key>group</key>
						<integer>24</integer>
						<key>name</key>
						<string>MagneticFieldStrength</string>
						<key>tokenTitle</key>
						<string>DICOM_MagneticFieldStrength</string>
						<key>type</key>
						<string>DICOM</string>
					</dict>
				</array>
				<key>title</key>
				<string>Field Strength</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<string>DB_image.date</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>date</string>
						<key>level</key>
						<string>image</string>
						<key>type</key>
						<string>DB</string>
					</dict>
				</array>
				<key>title</key>
				<string>Image Acquisition Date</string>
			</dict>
		</array>
		<key>MiddleLeft</key>
		<array>
			<dict>
				<key>content</key>
				<array>
					<string>Special_Orientation</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>Orientation</string>
						<key>type</key>
						<string>Special</string>
					</dict>
				</array>
				<key>title</key>
				<string>Orientation</string>
			</dict>
		</array>
		<key>MiddleRight</key>
		<array>
			<dict>
				<key>content</key>
				<array>
					<string>Special_Orientation</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>Orientation</string>
						<key>type</key>
						<string>Special</string>
					</dict>
				</array>
				<key>title</key>
				<string>Orientation</string>
			</dict>
		</array>
		<key>sameAsDefault</key>
		<string>0</string>
		<key>TopLeft</key>
		<array>
			<dict>
				<key>content</key>
				<array>
					<string>Special_Image Size</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>Image Size</string>
						<key>type</key>
						<string>Special</string>
					</dict>
				</array>
				<key>title</key>
				<string>Image Size</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<string>Special_View Size</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>View Size</string>
						<key>type</key>
						<string>Special</string>
					</dict>
				</array>
				<key>title</key>
				<string>View Size</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<string>Special_Window Level / Window Width</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>Window Level / Window Width</string>
						<key>type</key>
						<string>Special</string>
					</dict>
				</array>
				<key>title</key>
				<string>WL / WW</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<string>Special_Mouse Position (px)</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>Mouse Position (px)</string>
						<key>type</key>
						<string>Special</string>
					</dict>
				</array>
				<key>title</key>
				<string>Mouse (px)</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<string>Special_Mouse Position (mm)</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>Mouse Position (mm)</string>
						<key>type</key>
						<string>Special</string>
					</dict>
				</array>
				<key>title</key>
				<string>Mouse (mm)</string>
			</dict>
		</array>
		<key>TopMiddle</key>
		<array>
			<dict>
				<key>content</key>
				<array>
					<string>Special_Orientation</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>Orientation</string>
						<key>type</key>
						<string>Special</string>
					</dict>
				</array>
				<key>title</key>
				<string>Orientation</string>
			</dict>
		</array>
		<key>TopRight</key>
		<array>
			<dict>
				<key>content</key>
				<array>
					<string>DB_study.name</string>
					<string>DB_study.patientID</string>
					<string>(</string>
					<string>Special_Patient&apos;s Actual Age</string>
					<string>,</string>
					<string>Special_Patient&apos;s Age At Acquisition</string>
					<string>)</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>name</string>
						<key>level</key>
						<string>study</string>
						<key>type</key>
						<string>DB</string>
					</dict>
					<dict>
						<key>field</key>
						<string>patientID</string>
						<key>level</key>
						<string>study</string>
						<key>type</key>
						<string>DB</string>
					</dict>
					<dict>
						<key>field</key>
						<string>(</string>
						<key>type</key>
						<string>Manual</string>
					</dict>
					<dict>
						<key>field</key>
						<string>Patient&apos;s Actual Age</string>
						<key>type</key>
						<string>Special</string>
					</dict>
					<dict>
						<key>field</key>
						<string>,</string>
						<key>type</key>
						<string>Manual</string>
					</dict>
					<dict>
						<key>field</key>
						<string>Patient&apos;s Age At Acquisition</string>
						<key>type</key>
						<string>Special</string>
					</dict>
					<dict>
						<key>field</key>
						<string>)</string>
						<key>type</key>
						<string>Manual</string>
					</dict>
				</array>
				<key>title</key>
				<string>Patient ID</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<string>DB_study.studyName</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>studyName</string>
						<key>level</key>
						<string>study</string>
						<key>type</key>
						<string>DB</string>
					</dict>
				</array>
				<key>title</key>
				<string>Study Description</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<string>DB_series.seriesDescription</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>seriesDescription</string>
						<key>level</key>
						<string>series</string>
						<key>type</key>
						<string>DB</string>
					</dict>
				</array>
				<key>title</key>
				<string>Series Description</string>
			</dict>
			<dict>
				<key>content</key>
				<array>
					<string>DB_series.id</string>
				</array>
				<key>fullContent</key>
				<array>
					<dict>
						<key>field</key>
						<string>id</string>
						<key>level</key>
						<string>series</string>
						<key>type</key>
						<string>DB</string>
					</dict>
				</array>
				<key>title</key>
				<string>Series ID</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
