body { 
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #555753; 
	margin: 10pt;
	padding: 0pt;
	min-height: 100%;
	background: #cccc99;
}
	
h1 {
	margin: 10pt;
	font-style: italic;
}

h2 {  
	margin: 10pt;
	font-style: italic;
}
	
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #666633;
	border-bottom: thin dotted #ffffff;
}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #999966;
	border-bottom: thin dotted #ffffff;
}

a:hover, a:active { 
	color: #333300;
	text-decoration: underline;
	border: none;
}

img {
	border-style: none;
	margin: 5pt;
	vertical-align: middle;
}

ul {
	margin: 20pt;
	padding: 0pt;
}
	
li {
	line-height: 2.5ex; 
	display: block; 
	padding-top: 5pt;
	margin-bottom: 5pt;
	list-style-type: none;
}

li a:link {
	color: #666633;
}

li a:visited {
	color: #999966;
}

li a:hover, a:active { 
	color: #333300;
}

#content {
	text-align: left;
	margin: auto;
	width: 600pt;
	background: #ffffff;
	padding: 50pt;
	border: thin solid #999966;
}

#content_series {
	text-align: left;
	margin: auto;
	width: auto;
	background: #ffffff;
	padding: 50pt;
	border: thin solid #999966;
}

#series_img {
	text-align: center;
}

#back {
	left: 0;
	text-align: left;
	background: inherit;
}

#footer {
	margin-top: 40pt;
	font-size: smaller;
	text-align: right;
	background: inherit;
}
