body
{
    font-family: Helvetica;
	font-size:12pt;
    background: #FFFFFF;
    color: #000000;
	border-bottom: #555555 solid thin;
}

h1
{
	border-bottom: #555555 solid thin;
	font-size:16pt;
}

h2
{
	color:#333333;
	font-size:14pt;
}

#backButton
{
    background: url(images/chevron_left.png) no-repeat left center;
	padding-left: 15px;
}

ul
{
	list-style-type: none;
}

li
{
	margin-left: -30px;
}

li.image
{
	padding: 0px;
}

ul.studyList
{
	list-style-type: disc;
}

li.studyListItem
{
	padding: 2px;
	line-height:12pt;
	margin-left: 0px;
}

li a
{
	color: black;
	text-decoration:none;
}

li a:hover
{
	text-decoration:none;
}

a
{
	color: #333355;
	text-decoration:none;
}

a:hover
{
	text-decoration:none;
}


.thumbnail
{
	vertical-align: middle;
}

ul.StudyListItemDetails
{
	padding-left:20px;
}

li.StudyListItemDate
{
	display:inline;
	color: #666666;
	font-size:10pt;
	padding-left:0px;
	margin-left: 0px;
}

li.StudyListItemSeriesCount
{
	display:inline;
	color: #666666;
	font-size:10pt;
	padding-left:5px;
	margin-left: 0px;
}

li.StudyListItemSeriesSeparator
{
	display:inline;
	color: #666666;
	font-size:10pt;
	padding-left:5px;
	margin-left: 0px;
}

.SeriesImageNumber
{
	color: #666666;
	font-size:10pt;
}

.tdSeriesName
{
}

.tdSeriesImageNumber
{
}

#dicomDestination
{
	width:100%;
	font-size:14pt;
	margin-top:20px;
	margin-bottom:0px;
}

#dicomSend
{
	width:100%;
	font-size:14pt;
	margin-top:20px;
	margin-bottom:20px;
}

input[type=checkbox]
{
	width:25px;
	height:25px;
}

#searchField
{
	font-size:14pt;
	width:285px;
}

#searchButton
{
	font-size:14pt;
	margin-top:10px;
	width:305px;
	text-align:center;
}

table
{
	border-spacing:10px;
}

li.index
{
	padding:3px;
}
