body
{
    margin: 30px;
    font-family: Helvetica;
	font-size:12pt;
    background: #FFFFFF;
    color: #000000;
	border-bottom: #555555 solid thin;
}

h1
{
	border-bottom: #555555 solid thin;
	font-size:16pt;
}

h2
{
	color:#333333;
	font-size:14pt;
}

#backButton
{
    background: url(images/chevron_left.png) no-repeat left center;
	padding-left: 15px;
}

.button
{
	
}

ul
{
	list-style-type: none;
}

li.image
{
	padding: 5px;
}

ul.studyList
{
	list-style-type: disc;
}

li.studyListItem
{
	padding: 2px;
	line-height:12pt;
}

li a
{
	color: black;
	text-decoration:none;
}

li a:hover
{
	text-decoration:underline;
}

a
{
	color: #333355;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}


.thumbnail
{
	vertical-align: middle;
}

.SeriesName
{
	margin-left:10px;
}

.StudyListItemName
{
}

ul.StudyListItemDetails
{
	padding-left:50px;
}

li.StudyListItemDate
{
	display:inline;
	color: #666666;
	font-size:10pt;
	padding-left:0px;
}

li.StudyListItemSeriesCount
{
	display:inline;
	color: #666666;
	font-size:10pt;
	padding-left:5px;
}

li.StudyListItemSeriesSeparator
{
	display:inline;
	color: #666666;
	font-size:10pt;
	padding-left:5px;
}

#selectDicomDestination
{
}

#CheckAll
{
	margin-top:20px;
	font-size:10pt;
}

.SeriesImageNumber
{
	color: #666666;
	font-size:10pt;
	margin-left:10px;
}

a.series:hover
{
	text-decoration:none;
}

a.report
{
	background:url(images/mail-attachment24.png) no-repeat left center;
	padding-left:24px;
	padding-top:2px;
}