body
{
    margin: 30px;
    font-family: Helvetica;
	font-size:12pt;
    background: #FFFFFF;
    color: #000000;
}

h1
{
	border-bottom: #555555 solid thin;
	font-size:16pt;
}

h2
{
	color:#333333;
	font-size:14pt;
}

h3
{
	color:#FF0000;
	font-size:14pt;
}

ul
{
	list-style-type: none;
}

li a
{
	color: black;
	text-decoration:none;
}

li a:hover
{
	text-decoration:none;
}

a
{
	color: #333355;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

#backButton
{
    background: url(images/chevron_left.png) no-repeat left center;
	padding-left: 15px;
}

/* Current user infos */
#userAccountLabel
{
	float:right;
	font-size:10pt;
	padding:5px;
	background-color:#eeEEee;
	border:thin dotted #ddDDdd;
}

#userAccountLabel:hover
{
	background-color:#fdfed6;
	border:thin solid #fad51b;
}

#CurrentlyLoggedLabel
{
	color:#666666;
}

#UserNameLabel
{
	text-align:center;
	margin:5px;
}

#UserEmailLabel
{
	color:#666666;
	text-align:right;
	font-style: italic;
}

#UserPhoneLabel
{
	display:block;
	color:#666666;
	text-align:right;
	font-style: italic;
}

/* Study List */

.studyList
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width:80%;	
	border: 1px solid #999999;
	border-collapse: collapse;
}

.studyListItem0
{
	padding: 10px;
	line-height:12pt;
	margin-bottom: 0px;
	padding-left: 10px;
	background-color: #eeEEee;
	vertical-align:top;
}

.studyListItem0 td
{
	padding:10px;	
}

.studyListItem0:hover
{
	background-color: #fdfed6;
}

.studyListItem1
{
	padding: 10px;
	line-height:12pt;
	margin-bottom: 1px;
	background-color: #ffFFff;
	vertical-align:top;
}

.studyListItem1 td
{
	padding:10px;	
}

.studyListItem1:hover
{
	background-color: #fdfed6;
}

a.studyListItem:hover
{
	text-decoration:none;
}

.StudyListItemName
{
	color: black;
}

.StudyListItemDate
{
	display:block;
	color: #666666;
	font-size:10pt;
}

.StudyListItemState
{
	color: #666666;
	font-size: 10pt;
	font-style: italic;
}

div.StudyListItemDetails
{
	margin-left:20px;
	margin-right:10px;
}

.StudyListItemDetailItem
{
	display:inline;
	color: #666666;
	font-size:10pt;
}

.StudyListItemComment
{
	color: #666666;
	font-size: 10pt;
	font-style: italic;
}

.StudyListItemLabel
{
	font-size:10pt;
}

.StudyInformation
{
	margin-left: 10px;
	padding:1px;
	font-size:11pt;
}

.StudyInformation td
{
}

.StudyInformationLabel
{
	vertical-align:top;
	color: #666666;
	padding-right: 10px;
}

/* Series List */

.thumbnail
{
	vertical-align: middle;
	width:50px;
}

.SeriesName
{
	margin-left:10px;
}

#imageList
{
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 0px;
	border: 1px solid #999999;
	border-spacing: 0px;
	border-collapse: collapse;
}

.image0
{
	padding: 10px;
	line-height:12pt;
	margin-bottom: 1px;
	background-color: #eeEEee;
	padding:5px;
}

.image0:hover
{
	background-color: #fdfed6;
}

.image0 td
{
	padding:5px;
}

.image1
{
	padding: 10px;
	line-height:12pt;
	margin-bottom: 1px;
	background-color: #ffFFff;
	padding:5px;
}

.image1:hover
{
	background-color: #fdfed6;
}

.image1 td
{
	padding:5px;
}

.tdThumbnail
{
	width:50px;
}

.tdCheckbox
{
	width:20px;
}

#CheckAll
{
	padding-top:20px;
	font-size:10pt;
}

.SeriesImageNumber
{
	display:block;
	color: #666666;
	font-size:10pt;
	margin-left:10px;
}

.DownloadAsZIP
{
	background:url(images/zip.png) no-repeat left center;
	width:32px;
	height:32px;
	float:right;
}

.tdSeriesImageNumber
{
	display:block;
}

.small
{
	color: #222266;
	font-size:10pt;
}

a.series:hover
{
	text-decoration:none;
}

a.report
{
	background:url(images/mail-attachment24.png) no-repeat left center;
	padding-left:24px;
	padding-top:2px;
}

#footer
{
	width: auto;
	border-top: #555555 solid thin;
	right: 0;
	left: 0;
	padding-top: 20px;
	margin-top: 50px;
	text-align: center;
	font-size:10pt;
}
